<html>
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mt-4 border mb-4 mx-auto rounded pt-4">
            <div class="text-center col">
            
               
            <!-- <hr> -->
            <div class="display-8">Image Stegnography</div>
            <br>
            <h1>Embedding</h1>
            <hr>
            </div>
            
            <form method="POST" enctype="multipart/form-data">
                
                {% csrf_token %}
                {{ form.as_p }}
                
                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!--message
                <div class="form-group">
                    <label for="">Message</label>
                    <input required type="text" name="message" id=""
                    class=" form-control-sm form-control" placeholder="Enter message">
                </div>


             
                <div class="form-group">
                    <label for="">Upload Image</label>
                    <input type="file" 
                    name="Img" 
                    id=""
                     class="form-control form-control-sm" >
                </div>
            -->
                <hr>
                <div class="form-group">
                    <input class="btn btn-sm btn-info col-lg-4" type="submit" value="Submit">
                </div>
                <button><a href="/">Home</a></button>

                
            </form>
        </div>
    </div>
</div>
</html>
